/* .footer-clean {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Use min-height to cover the full page height */
/* } */

/* .card-container {
  flex: 1;
  width: 100%; /* Set the card width to 100% */
/* padding: 20px;
} */

/* .booking-form-container {
  flex: 1;
  width: 100%; /* Set the booking form width to 100% */
/* padding: 20px;
  background-color: #f0f0f0;
}  */

/* .card {
  margin: auto;
  border: solid 1px #dbdad7;
  width: 60%;
  padding-left: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 10px !important;
  padding-top: 0px !important;
} */

/* .card-title {
  margin: auto;
  padding: 15px;
  background-color: #2f7fad;
  color: white;
  width: 80%;
}

div.card-body {
  padding: 0px;
} */

/* .custom-select {
  width: 100%;
}

.btn2 {
  margin-left: 10%;
} */
/* 
input {
  outline: 0 !important;
  border-width: 0 0 2px !important;
  border-color: #d1d1cf !important;
}

input:focus {
  border-color: #d1d1cf !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
} */

/* select {
  outline: 0 !important;
  border-width: 0 0 2px !important;
  border-color: #d1d1cf !important;
} */

/* select:focus {
  border-color: #d1d1cf !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
/*  */
/* .radiobtn {
  margin-left: 3.5%;
}  */

/* .icons {
  margin: auto !important;
} */

/* .fa {
  border-radius: 25px;
  width: 10%;
  margin-left: 5%;
  border: solid 2px #dbdad7;
  margin-top: 5%;
  text-align: center;
} */

/* .fa-plane {
  color: #1cad9f;
} */

/* .fa-taxi {
  color: #c2f700;
} */

/* .fa-train {
  color: red;
}  */

/* Social media icons styles */

/* .item.social i.ion-social-facebook {

  font-size: 24px;
  margin: 5px;
  color: #3b5998; 
} */
/* 
.item.social i.ion-social-twitter {

  font-size: 24px;
  margin: 5px;
  color: #1da1f2; 
} */

/* .item.social i.ion-social-snapchat {
  
  font-size: 24px;
  margin: 5px;
  color: #fffc00; 
} */

/* .item.social i.ion-social-instagram {

  font-size: 24px;
  margin: 5px;
  color: #bc2a8d; Instagram's brand color
} */
/* .social-container {
  background: #eee;
  padding: 25px 50px;
} */
/* a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #eb3223;
} */

/* a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}
a.youtube {
  color: #eb3223;
} */
/* 
a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
} */
/* 
a.instagram {
  color: black;
}
.social-company-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .footer-clean {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid black;
  border-radius: 10px;
  line-height: 0.1;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.social-container a {
  margin: 0 10px;
}

.social-container a.facebook {
  color: #3b5998;
}

.social-container a.twitter {
  color: #1da1f2;
}

.social-container a.instagram {
  color: #bc2a8d;
}

.social-container a.youtube {
  color: #ff0000;
}

.company-info {
  text-align: center;
} */

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid #c51533;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1170px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  color: blue;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.nav-links li a:hover {
  color: #1cad9f;
}

/* SEARCHBAR */

.SearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.SearchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.SearchBar-select {
  margin-left: 10px;
}

.SearchBar-input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 200px;
  height: 30px;
  margin-right: 10px;
}

/* HOME */

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Use min-height to cover the full page height */
}

.card-container {
  flex: 1;
  width: 100%; /* Set the card width to 100% */
  padding: 20px;
}

.booking-form-container {
  flex: 1;
  width: 100%; /* Set the booking form width to 100% */
  padding: 20px;
  background-color: #f0f0f0;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer-clean {
  flex-shrink: 0;
  background-color: #000000;
  color: #ffffff;
  padding: 5px 0;

  font-size: 14px;
  text-align: center;
  width: 100%;
}

.card {
  margin: auto;
  border: solid 1px #dbdad7;
  width: 60%;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
  padding-top: 0px !important;
}

.card-title {
  margin: auto;
  padding: 15px;
  color: white;
  background-color: #2f7fad;
  width: 80%;
}

div.card-body {
  padding: 0px;
}

/* FOOTER */

/* .footer-clean {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid black;
  /* border-radius: 10px; */
/* line-height: 0.1; */
/* .footer-clean {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; /* Reduce padding to make the footer smaller */
/* background-color: #000000;
  color: #ffffff;
  border: 1px solid black;
  line-height: 1;
}  */

/* .social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
} */

/* .social-container a {
  margin: 0 10px;
} */
/* 
.social-container a.facebook {
  color: #3b5998;
} */

/* .social-container a.twitter {
  color: #1da1f2;
} */

/* .social-container a.instagram {
  color: #bc2a8d;
} */

/* .social-container a.youtube {
  color: #ff0000;
} */

/* .company-info {
  text-align: center;
} */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.content {
  min-height: 100vh;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid #c51533;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1170px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  color: blue;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.nav-links li a:hover {
  color: #1cad9f;
}

/* SEARCHBAR */

.SearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.SearchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.SearchBar-select {
  margin-left: 10px;
}

.SearchBar-input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 200px;
  height: 30px;
  margin-right: 10px;
}

/* HOME */

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Use min-height to cover the full page height */
}

.card-container {
  flex: 1;
  width: 100%; /* Set the card width to 100% */
  padding: 20px;
}

.booking-form-container {
  flex: 1;
  width: 100%; /* Set the booking form width to 100% */
  padding: 20px;
  background-color: #f0f0f0;
}

.card {
  margin: auto;
  border: solid 1px #dbdad7;
  width: 60%;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
  padding-top: 0px !important;
}

.card-title {
  margin: auto;
  padding: 15px;
  color: white;
  background-color: #2f7fad;
  width: 80%;
}

div.card-body {
  padding: 0px;
}

/* FOOTER */

.footer-clean {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid black;
  line-height: 0.1;
}

.social-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social-container a {
  margin: 0 10px;
}

.social-container a.facebook {
  color: #3b5998;
}

.social-container a.twitter {
  color: #1da1f2;
}

.social-container a.instagram {
  color: #bc2a8d;
}

.social-container a.youtube {
  color: #ff0000;
}

.company-info {
  text-align: center;
}
/* Add this CSS to your stylesheet or in a <style> tag in your component */

/* The Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed position */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Black background with opacity */
  background-color: rgba(0, 0, 0, 0.4); /* Black background with 40% opacity */
  padding-top: 60px; /* Place modal 60px from the top */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 5% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 80% width */
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.smaller-image {
  width: 150px; /* Set your desired width */
  height: auto; /* Maintain aspect ratio */
}
